<section class="sec-footer">
<div class="l-inner clearfix">
  <div class="logo-blk ">
    <h4>
      <a href="#">
        <p><%= link_to 'R Hotel', root_path %></p>
      </a>
    </h4>
  </div>
  <div class="footer-nav-blk clearfix">
    <ul>
      <li><%= link_to 'Home', root_path %></a></li>
      <li><a href="discovery.html">Review</a></li>
      <li>LogIn</li>
      <li>LogOut</li>
    </ul>
    <ul>
      <li><%= link_to 'Single Rooms', single_rooms_path() %></li>
      <li><%= link_to 'Double Rooms', double_rooms_path() %></li>
      <li><%= link_to 'Luxe Rooms', luxury_rooms_path() %></li>
      <li><%= link_to 'Special Rooms', special_rooms_path() %></li>
    </ul>
    <ul>
      <li><%= link_to 'Deluxe Rooms', deluxe_rooms_path() %></li>
    </ul>

  </div>

  <div class="mail-blk">
    <input type="text" id="mail" name="mail" placeholder="Email">
    <%= image_tag "img_mail.png"%>
    <p>Stay in touch with us for the freshest products!</p>
  </div>
  <div class="media-logo-blk">
    <%= image_tag "img_instagram.png"%>
    <%= image_tag "img_twitter.png"%>
    <%= image_tag "img_facebook.png"%>
    <%= image_tag "img_web.png"%>
  </div>
</div>
</section><!-- /.sec-footer -->