
  <div class="l-container clearfix">
    <h1 class="header-logo">
      <a href="#">
        <p><span>R<span> Hotel</p>
      </a>
    </h1>
    <nav class="gnav clearfix">
      <ul class="clearfix">
        <li><%= link_to 'Home'%></li>
        <li>
        <div class="dropdown">
          <%= link_to 'Rooms' %>
          <div class="dropdown-content">
            <%= link_to 'Single Rooms' %>
            <%= link_to 'Double Rooms' %>
            <%= link_to 'Family Rooms' %>
          </div>
        </div>
        </li>
        <li><%= link_to 'Review'%></li>
        <li><%= link_to 'Contact Us'%></li>
        <li><%= link_to 'SignUp'%></li>
        <li><%= link_to 'LogIn'%></li>
      </ul>
    </nav>
  </div>

