
  <div class="l-container clearfix">
    <h1 class="header-logo">
      <a href="#">
        <p> <%= link_to 'R Hotel', root_path%></p>
      </a>
    </h1>
    <nav class="gnav clearfix">
      <ul class="clearfix">
        <li><%= link_to 'Home', root_path%></li>
        <li>
        <div class="dropdown">
          <%= link_to 'Rooms' %>
          <div class="dropdown-content">
            <%= link_to 'Single Rooms', single_rooms_path() %>
            <%= link_to 'Double Rooms', double_rooms_path() %>
            <%= link_to 'Luxury Rooms', luxury_rooms_path() %>
            <%= link_to 'Deluxe Rooms', deluxe_rooms_path() %>
            <%= link_to 'Special Rooms', special_rooms_path() %>
          </div>
        </div>
        </li>
        <li><%= link_to 'Review'%></li>
        <li><%= link_to 'Contact Us'%></li>
        <li><%= link_to 'SignUp'%></li>
        <li><%= link_to 'LogIn'%></li>
      </ul>
    </nav>
  </div>

