<div class="sidebar">
  <div class="logo-details">
  <span class="logo_name">RHotel</span>
  </div>
  <ul class="nav-links">
  <li><%= link_to "Dashboard", dashboard_path %></li>
  <li><%= link_to "Users", showUsers_path  %></li>
  <li><%= link_to "New Room Type", new_room_type_path  %></li>
  <li><%= link_to "Room Types", room_types_path  %></li>
  <li><%= link_to "New Room", new_room_path  %></li>
  <li><%= link_to "Rooms", rooms_path  %></li>
  <li><%= link_to "New Food Type", new_food_type_path  %></li>
  <li><%= link_to "Food Types", food_types_path  %></li>
  <li><%= link_to "New Food", new_food_path  %></li>
  <li><%= link_to "Foods", foods_path  %></li>
  <li><%= link_to "Reservations", showReservations_path  %></li>
  <li><%= link_to "Logout", logout_path , method: :delete  %></li>
  </ul>
</div>

<section class="home-section">
<nav>
<div class="sidebar-button">
<button class="sidebarBtn">Click me</button>
<span class="dashboard">Dashboard</span>
</div>
<div class="profile-details">
<%= image_tag(current_user.profile, :alt => "img"  ) %>	
<span class="admin_name"><%= current_user.name %></span>
</div>
</nav>


<script>
$(".sidebarBtn").click(function(){
  $(".sidebar").toggleClass("active");
});
</script>