<%= render 'users/nav' %>

<h2>Sign up now</h2>

<% if  @user.errors.full_messages.any? %>
  <% @user.errors.full_messages.each do |error_message| %>
    <div> <ul><li><%= error_message  %></li></ul></div>
  <% end %>
<% end %>

<%= form_with  model: @user do |form| %>

  <%= form.label :query, "Name"  %><br>
  <%= form.text_field :name   %><br>

  <%= form.label :query, "E-Mail Address" %><br>
  <%= form.email_field :email  %><br>

  <%= form.label :query, "Password" %><br>
  <%= form.password_field :password  %><br>

  <%= form.label :query, "Password Confirmation"  %><br>
  <%= form.password_field :password_confirmation  %><br>
  
  <%= form.label :query, "Type" %><br>
  <%= form.select :user_type, [["User", "1"], ["Admin", "0"]]  %><br>

  <%= form.label :query, "Profile"  %><br>
  <%= form.file_field :profile , accept:'image/*'  %><br><br>

  <%= form.submit "Register"   %>
 
<% end %>