<%= render 'admins/adminnav' %>
<div class="home-content">
<h1 class="title">Foods</h1>
<table id="food">
    <thead>
       <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Description</th>
          <th>Food Type</th>
        </tr>
      </thead>
      <tbody>
         <% @foods.each do |food| %>
           <tr>
             <td><%= food.name %></td>
             <td><%= food.price %></td>
             <td><%= food.description   %></td>
             <td><%= food.food_type.name   %></td>
            </tr>
         <% end %>
       </tbody>
</table>

</div>
</section>

<script>

$(document).ready(function() {
  $("#food").dataTable();
});

</script>